<% provide(:title, 'About') %>
<!DOCTYPE html>
<html>
  <head>
    <title>About us | <%= yield(:title) %></title>
  </head>
  <body>
    <h1>About us</h1>
    <p>
      
      Home Page
    </p>
  </body>
</html>