<% provide(:title, 'Help') %>
<!DOCTYPE html>
<html>
  <head>
    <title>Help| <%= yield(:title) %></title>
  </head>
  <body>
    <h1>Sample App</h1>
    <p>
      
      Help
    </p>
  </body>
</html>